---
services:
  pihole:
    image: pihole/pihole:{{ pihole_tag }}
    restart: always
    environment:
      TZ: "Europe/Berlin"
      WEBPASSWORD: {{ pihole_password }}
    volumes:
      - ./pihole:/etc/pihole
    extra_hosts:
      - "pihole.{{ domain }}:{{ hostvars['reverseproxy'].ansible_host }}"
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80"
