---
version: "3.8"

services:
  pihole:
    image: pihole/pihole:latest
    restart: always
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80"
    environment:
      TZ: "Europe/Berlin"
      WEBPASSWORD: {{ pihole_password }}
    volumes:
      - ./pihole:/etc/pihole
      - ./dnsmasq.d:/etc/dnsmasq.d
    extra_hosts:
      - "pihole.{{ domain }}:{{ hostvars['reverseproxy']['ansible_host'] }}"
      - "nextcloud.{{ domain }}:{{ hostvars['reverseproxy']['ansible_host'] }}"
      - "gitea.{{ domain }}:{{ hostvars['reverseproxy']['ansible_host'] }}"
      - "navidrome.{{ domain }}:{{ hostvars['reverseproxy']['ansible_host'] }}"
      - "yourspotify.{{ domain }}:{{ hostvars['reverseproxy']['ansible_host'] }}"
      - "yourspotifyapi.{{ domain }}:{{ hostvars['reverseproxy']['ansible_host'] }}"
      - "wireguardui.{{ domain }}:{{ hostvars['reverseproxy']['ansible_host'] }}"
      - "immich.{{ domain }}:{{ hostvars['reverseproxy']['ansible_host'] }}"
