{{ hostvars['reverseproxy'].ansible_host }} wireguardui.{{ domain }}
{{ hostvars['reverseproxy'].ansible_host }} nextcloud.{{ domain }}
{{ hostvars['reverseproxy'].ansible_host }} gitea.{{ domain }}
{{ hostvars['reverseproxy'].ansible_host }} navidrome.{{ domain }}
{{ hostvars['reverseproxy'].ansible_host }} yourspotify.{{ domain }}
{{ hostvars['reverseproxy'].ansible_host }} yourspotifyapi.{{ domain }}
