events {}

http {
{% if hostvars['pihole'].ansible_host is defined %}
    server {
        listen 443 ssl;
        server_name pihole.{{ domain }};

        ssl_certificate /etc/nginx/certs/homelab.crt;
        ssl_certificate_key /etc/nginx/certs/homelab.key;

        location / {
            proxy_pass http://{{ hostvars['pihole'].ansible_host }};
        }
    }
{% endif %}

{% if hostvars['nextcloud'].ansible_host is defined %}
    server {
        listen 443 ssl;
        server_name nextcloud.{{ domain }};

        ssl_certificate /etc/nginx/certs/homelab.crt;
        ssl_certificate_key /etc/nginx/certs/homelab.key;

        location / {
            proxy_pass http://{{ hostvars['nextcloud'].ansible_host }};
        }
    }
{% endif %}

{% if hostvars['gitlab'].ansible_host is defined %}
    server {
        listen 443 ssl;
        server_name gitlab.{{ domain }};

        ssl_certificate /etc/nginx/certs/homelab.crt;
        ssl_certificate_key /etc/nginx/certs/homelab.key;

        location / {
            proxy_pass http://{{ hostvars['gitlab'].ansible_host }};
        }
    }
{% endif %}

{% if hostvars['navidrome'].ansible_host is defined %}
    server {
        listen 443 ssl;
        server_name navidrome.{{ domain }};

        ssl_certificate /etc/nginx/certs/homelab.crt;
        ssl_certificate_key /etc/nginx/certs/homelab.key;

        location / {
            proxy_pass http://{{ hostvars['navidrome'].ansible_host }};
        }
    }
{% endif %}

{% if hostvars['yourspotify'].ansible_host is defined %}
    server {
        listen 443 ssl;
        server_name yourspotify.{{ domain }};

        ssl_certificate /etc/nginx/certs/homelab.crt;
        ssl_certificate_key /etc/nginx/certs/homelab.key;

        location / {
            proxy_pass http://{{ hostvars['yourspotify'].ansible_host }}:3000;
        }
    }

    server {
        listen 443 ssl;
        server_name yourspotifyapi.{{ domain }};

        ssl_certificate /etc/nginx/certs/homelab.crt;
        ssl_certificate_key /etc/nginx/certs/homelab.key;

        location / {
            proxy_pass http://{{ hostvars['yourspotify'].ansible_host }}:8080;
        }
    }
{% endif %}
}
