---
services:
  your_spotify_server:
    image: yooooomi/your_spotify_server:{{ your_spotify_server_tag }}
    restart: always
    environment:
      API_ENDPOINT: https://yourspotifyapi.{{ domain }}
      CLIENT_ENDPOINT: https://yourspotify.{{ domain }}
      SPOTIFY_PUBLIC: {{ spotify_public }}
      SPOTIFY_SECRET: {{ spotify_secret }}
    ports:
      - "8080:8080"
    links:
      - mongo
    depends_on:
      - mongo

  your_spotify_client:
    image: yooooomi/your_spotify_client:{{ your_spotify_client_tag }}
    restart: always
    environment:
      API_ENDPOINT: https://yourspotifyapi.{{ domain }}
    ports:
      - "3000:3000"

  mongo:
    image: mongo:6
    volumes:
      - ./db:/data/db
