---
version: "3"

services:
  nextcloud:
    image: nextcloud:apache
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
      - POSTGRES_PASSWORD={{ hostvars['nextcloud'].postgres_password }}
      - NEXTCLOUD_ADMIN_USER={{ hostvars['nextcloud'].nextcloud_admin_user }}
      - NEXTCLOUD_ADMIN_PASSWORD={{ hostvars['nextcloud'].nextcloud_admin_password }}
      - NEXTCLOUD_TRUSTED_DOMAINS={{ hostvars['nextcloud'].ansible_host }}
    ports:
      - "80:80"
    restart: always
    volumes:
      - ./nextcloud:/var/www/html
  db:
    image: postgres:alpine
    environment:
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
      - POSTGRES_PASSWORD={{ hostvars['nextcloud'].postgres_password }}
    restart: always
    volumes:
      - ./db:/var/lib/postgresql/data
    expose:
      - "5432"
