---
version: "3.8"

services:
  gitlab:
    image: gitlab/gitlab-ce:latest
    restart: always
    hostname: "{{ inventory_hostname }}.{{ domain }}"
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url "http://{{ inventory_hostname }}.{{ domain }}"
        gitlab_rails["initial_root_password"] = "{{ gitlab_root_password }}"
    ports:
      - "80:80"
      - "22:22"
    volumes:
      - ./config:/etc/gitlab
      - ./logs:/var/log/gitlab
      - ./data:/var/opt/gitlab
