events {}

http {
    server {
        listen 443 ssl;
        server_name pihole.{{ domain }};

        ssl_certificate /etc/nginx/certs/homelab.crt;
        ssl_certificate_key /etc/nginx/certs/homelab.key;

        location / {
            proxy_pass http://{{ hostvars['pihole'].ansible_host }};
        }
    }

    server {
        listen 443 ssl;
        server_name nextcloud.{{ domain }};

        ssl_certificate /etc/nginx/certs/homelab.crt;
        ssl_certificate_key /etc/nginx/certs/homelab.key;

        location / {
            proxy_pass http://{{ hostvars['nextcloud'].ansible_host }};
        }
    }

    server {
        listen 443 ssl;
        server_name gitea.{{ domain }};

        ssl_certificate /etc/nginx/certs/homelab.crt;
        ssl_certificate_key /etc/nginx/certs/homelab.key;

        location / {
            proxy_pass http://{{ hostvars['gitea'].ansible_host }}:3000;
        }
    }

    server {
        listen 443 ssl;
        server_name navidrome.{{ domain }};

        ssl_certificate /etc/nginx/certs/homelab.crt;
        ssl_certificate_key /etc/nginx/certs/homelab.key;

        location / {
            proxy_pass http://{{ hostvars['navidrome'].ansible_host }};
        }
    }

    server {
        listen 443 ssl;
        server_name yourspotify.{{ domain }};

        ssl_certificate /etc/nginx/certs/homelab.crt;
        ssl_certificate_key /etc/nginx/certs/homelab.key;

        location / {
            proxy_pass http://{{ hostvars['yourspotify'].ansible_host }}:3000;
        }
    }

    server {
        listen 443 ssl;
        server_name yourspotifyapi.{{ domain }};

        ssl_certificate /etc/nginx/certs/homelab.crt;
        ssl_certificate_key /etc/nginx/certs/homelab.key;

        location / {
            proxy_pass http://{{ hostvars['yourspotify'].ansible_host }}:8080;
        }
    }

    server {
        listen 443 ssl;
        server_name wireguardui.{{ domain }};

        ssl_certificate /etc/nginx/certs/homelab.crt;
        ssl_certificate_key /etc/nginx/certs/homelab.key;

        location / {
            proxy_pass http://{{ hostvars['wireguard'].ansible_host }}:51821;
        }
    }

    server {
        listen 443 ssl;
        server_name immich.{{ domain }};

        ssl_certificate /etc/nginx/certs/homelab.crt;
        ssl_certificate_key /etc/nginx/certs/homelab.key;

        location / {
            proxy_pass http://{{ hostvars['immich'].ansible_host }}:3001;
        }
    }
}
