---
services:
  navidrome:
    image: deluan/navidrome:{{ navidrome_tag }}
    restart: always
    environment:
        ND_SCANSCHEDULE: 0
        ND_BASEURL: /navidrome
    volumes:
      - ./data:/data
      - ./music:/music:ro
    ports:
      - "4533:4533"
