---
services:
  navidrome:
    image: deluan/navidrome:latest
    ports:
      - "80:4533"
    restart: unless-stopped
    environment:
        ND_SCANSCHEDULE: 0
        ND_BASEURL: /navidrome
    volumes:
      - ./data:/data
      - ./music:/music:ro
